body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 20px;
}

div {
  background-color: #E4F9F5;
}

span {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 410px;
  bottom: 300px;
}

.profile {}

.pic {
  border-radius: 100%;
  width: 15%;
}
.one {
  border-radius: 100%;
  width: 15%;
}
.computer {
  border-radius: 100%;
  width: 15%;
}
a:hover {
  background-color: #eee;
}
