body {
  color: #40514E;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.top-pic {
  width: 20%;
  margin: 5px;
  position: absolute;
  right: 1150px;
  border-radius: 100%;
  opacity: 1;
  z-index: auto;
}
/**************
 nav {
   width: auto;
   height: 60px;
   display: inline-flex;
   padding: auto;
   margin: 0px;
   position: absolute;
   left: 760px;
   top: 2px;
   opacity: .5;
   z-index: 7;


 }
 .nav-font {
   font-size: 1.5rem;
   color: black;
 }
 .nav-font:hover{
   width: auto;
   height: auto;
   background-color: #efe6f6;
 }
 *****/
h1 {
  font-size: 5.625em;
  font-weight: 800;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  margin: 10px auto 10px auto;
}

h2 {
  color: #66BFBF;
  /****font-family: 'Montserrat', sans-serif;****/
  font-size: 2.5em;
  font-weight: normal;
  font-family: 'Lobster', cursive;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.profile {
  margin: 0px;
  text-align: center;
}


hr {
  width: 4%;
 border: dotted grey 6px;
 border-bottom: none;
 margin: 100px auto;
}
p {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 2;
}
p.box {
  position: relative;
  right: 20px;
  bottom: 20px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;


}

.word {
  text-decoration: underline;
  text-decoration-color: #66BFBF;
  color: black;
  font-weight: normal;
}

.center {
  line-height: 2;
  width: 40%;
  margin: auto;
  position: relative;
  left: 10px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
    margin: 100px 0px;
    text-align: center;

}

.bottom-container {
  background-color: #66BFBF;
  padding: 10px 5px 10px 5px;
}

.margin-center {
  margin-top: 40px;
}

.skills {
  padding-top: 0px;
}

.skill-row {
width: 50%;
margin: 50px auto 100px auto;
text-align: left;
line-height: 2;
}


/******************* Photo for Website *******************/
.pic {
  border-radius: 100%;
  width: 25%;
}

.one {
  border-radius: 100%;
  width: 35%;
  float: right;
  margin-left: 30px;
}

.computer {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
/**************** Hover **************/
a:hover {
  background-color: #eee;
}


/********* Contact Me Button ************/
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Raleway;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
position: relative;
left: auto;
top: 10px;
}

.btn:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #3498db);
  background-image: -moz-linear-gradient(top, #fc3c3c, #3498db);
  background-image: -ms-linear-gradient(top, #fc3c3c, #3498db);
  background-image: -o-linear-gradient(top, #fc3c3c, #3498db);
  background-image: linear-gradient(to bottom, #fc3c3c, #3498db);
  text-decoration: none;
}

/********** Footer *********/
/********** add if need be
.p-bottom {
  width: 40%;
  line-height: 2;
  position: relative;
  left: 350px;
  bottom: 30px;
  text-align: center;
}**/

.p-corecct {
  line-height: 2;
  width: 40%;
  margin: 20px auto 20px auto;
  position: relative;
  bottom: 35px;
  left: 10px;
}

.h2-bottom {
  margin: 10px auto;
  position: relative;
  bottom: 60px;
}

a {
  color: #11999E;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 10px;
  margin: 15px;
}

.footer-link {
  font-size: 1.1rem;
  color: rebeccapurple;
  position: relative;
  top: 10px;

}
