body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 5.625em;
  font-weight: 800;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  margin: 10px auto 10px auto;
}

h2 {
  color: #66BFBF;
  /****font-family: 'Montserrat', sans-serif;****/
  font-size: 2.5em;
  font-weight: normal;
  font-family: 'Lobster', cursive;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1em;
}

a {
  color: #11999E;
}

div {
  background-color: #E4F9F5;
}

.word {
  text-decoration: underline;
  text-decoration-color: #66BFBF;
  color: black;
  font-weight: bold;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.profile {}

/******************* Photo for Website *******************/
.pic {
  border-radius: 100%;
  width: 15%;
}

.one {
  border-radius: 100%;
  width: 15%;
}

.computer {
  border-radius: 100%;
  width: 15%;
}

/**************** Hover **************/
a:hover {
  background-color: #eee;
}
